.jumbotron{
  color: #fff;
}
.article-content{
  width: 75%;
  
}
#login{ 
  height: 100vh;
  align-items: center;
}

.form-signin{
  background-color: #f5f5f5;
  border-radius: 20px;
  padding: 30px;
  width:  30vw;
  box-sizing: border-box;
}