/*=============================================
FORMULARIO
=============================================*/

#formulario {
  background: white;
}

#formulario form {
  position: relative;
  margin: auto;
  width: 70%;
  height: auto;
  padding: 2%;
  background: #ddd;
}

#formulario form h1 {
  width: 100%;
  line-height: 50px;
  background: black;
  text-align: center;
  font-size: 20px;
  color: white;
}

#formulario input,
#formulario label,
#formulario textarea,
#formulario p,
#formulario select {
  display: block;
  position: relative;
}

#formulario label span.obligatorio {
  opacity: 0;
  color: #777;
}

#formulario input[type="checkbox"],
#formulario input[type="radio"] {
  display: none;
}

#formulario label.box span,
#formulario label.radio span {
  display: inline-block;
  width: 25px;
  height: 25px;
  background: white;
  vertical-align: middle;
  margin-right: 10px;
}

#formulario label.radio span {
  border-radius: 100%;
}

#formulario label.box > input[type="checkbox"]:checked + span {
  background: url(../../../assets/img/box.jpg);
}

#formulario label.radio > input[type="radio"]:checked + span {
  background: url(../../../assets/img/radio.jpg);
}
